.dashboard-container {
  max-width: 1000px;
  margin-top: 1rem;

  h1 {
    margin-bottom: 1rem;
  }
}

.range-bar-container {
  display: flex;
  justify-content: center;
}

.range-bar-wrapper {
  width: 500px;
}
