body {
  height: 100%;
}

.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  max-width: 650px;
}

.form-col {
  margin-bottom: 1rem;
}
